.App {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 35vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.listContainer {
  height: 20vh;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  cursor: pointer;
  overflow-y: scroll;
}

.emailContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  cursor: pointer;
  padding: 15px;
}

.sender {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 20%;
}

.subject {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  overflow: wrap;
  width: 60%;
}

.checkBox {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 10%;
}
